
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
<div class="container">
  <div class="login-box">

    <!-- Lado esquerdo - Login candidato -->
    <div class="form-side login-left login-left-candidato">
      <h2 class="login-title">Login Candidato</h2>

      <form method="POST" class="login-form">
        <div class="form-group">
          <label for="email" class="sr-only"></label>
          <input type="email" id="email" name="email" placeholder="E-mail" required class="input-field">
        </div>
        <div class="form-group">
          <label for="senha" class="sr-only"></label>
          <input type="password" id="senha" name="senha" placeholder="Senha" required class="input-field">
        </div>

        <button type="submit" class="btn-primary">
          Entrar
        </button>
      </form>

    </div>

    <!-- Lado direito - Boas-vindas candidato -->
    <div class="welcome-side login-right login-right-candidato">
      <a href="{{ url_for('vagas.index') }}" class="close-btn">X</a>
      <h1 class="welcome-title">Olá, candidato!</h1>
      <p class="welcome-text">Já possui uma conta?</p>
      <a href="{{ url_for('auth.cadastro_candidato') }}" class="btn-secondary">
        Cadastre-se
      </a>
    </div>

  </div>
</div>
{% endblock %}
