entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = [
  "fontconfig",
  "freetype",
  "ghostscript",
  "glib",
  "glibcLocales",
  "gumbo",
  "harfbuzz",
  "jbig2dec",
  "libjpeg_turbo",
  "mupdf",
  "openjpeg",
  "pango",
  "sqlite-interactive",
  "swig",
  "xcbuild",
]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 45093597
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3000
