PyPDF2==3.0.1
sentence-transformers==2.2.2
scikit-learn==1.3.2
PyPDF2
flask
werkzeug
PyMuPDF
weasyprint
nltk==3.9.1

python -m venv venv
venv\Scripts\activate
pip install flask pymupdf python-dotenv 
pip install mysql-connector-python
pip install cloudinary
python app.py


//js para arrumar de usuários (o que ficou faltando)

- recarregar pagina automático após mudança de status de favoritar
- editar perfil trazer infos 
- corrigir erro em vagas recomendadas